{% extends 'base.html.twig' %}

{% block title %}BDplon{% endblock %}

{% block body %}

<div class="container-fluid">

{% include "elements/header.html.twig" %}

{% include "elements/selection.html.twig" %}

<!-- {% if not app.user %}
{% include "elements/register.html.twig" %}
{% endif %} -->
</div>

{% endblock %}