<div class="row bg-danger justify-content-center align-items-center text-center text-dark">
    <div class="col-12">
        <h1 class="d-inline-block m-5">BDplon</h1>
        {% if not app.user %}
        <a href="#register"><h3 class="d-inline-block m-5 text-dark">Abonne-toi !</h3></a>
        {% endif %}
    </div>
</div>