<div class="row text-center justify-content-center align-items-center">
    <div class="col-4 display-1">
        <p>BD</p>
    </div>

    <div class="col-8 display-3">
        <p>Super Catalogue de BD !</p>
    </div>

    {% for bd in selection %}
    <div class="card col-3" style="width: 18rem;">
        <img src="https://i.pinimg.com/736x/2d/af/26/2daf266c3683a6a6702db5289e3a057a.jpg" class="card-img-top">
        <div class="card-img-overlay">
            <h5 class="card-title">{{bd.title}}</h5>
            <p class="card-text">{{bd.author}}</p>
            <p class="card-text d-none d-lg-block">{{bd.description[:150] ~ '...'}}</p>
        </div>
    </div>
    {% endfor %}
    
</div>